/*Globel*/
*{
	box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
}

h1,h2,p{
	margin: 0;
}

a{
  text-decoration: none;
}




.wapper{
    background-color: #e0fbfc;
    height: 100%;
    background: linear-gradient(180deg, rgba(150,169,201,1) 0%, rgba(57,119,134,1) 100%);
    /*解決margin塌陷的問題*/
    overflow: hidden; 

}

.product{
    width: 800px;
    height: 540px;
    background-color: #fff; 
    margin: 0 auto;
    margin-top: 128px;
    box-shadow:0 20px 80px rgba(95,158,200,0.15);  
    padding: 16px;

}


.info{
    display:inline-block;
    width: 50%;
    padding: 64px 56px;
    vertical-align: top;
}

.name{
    font-size: 100px;
    color: #455e89;
    font-weight: 800;
    white-space: nowrap;
    text-shadow: 0 48px 10px rgba(0,0,250,0.18);
    margin-bottom: 16px;
    /*定位元素及階層設定*/
    position: relative;
    z-index: 10%;
}

.price{
     font-size: 48px;
     font-weight: 300;
     color: #134074;
     margin-bottom: 16px;
}

.text{
    color: #495867;
    line-height: 24px;
    margin-bottom: 16px;

}

.btn{
   display: inline-block;  
   /*寫掉原本的inline*/
   background-color: #93a8ac;
   width: 200px;
   text-align: center;
   font-size: 24px;
   color: #fff;
   letter-spacing: 8px;
   padding: 12px 0;
   box-shadow:0 8px 5px rgb(0,0,0,0.5);
   border-radius: 5px;
   background: rgb(106,129,148);
   background: linear-gradient(7deg, rgba(106,129,148,1) 0%, rgba(126,150,193,1) 35%, rgba(103,149,199,1) 68%, rgba(86,124,203,1) 100%);

}
 .btn:hover{
  border-radius: 25px;
  transition: .2s;
 }


.images{
    display: inline-block;  
    width: 50%;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
}

.images img{
	height: 100%;
}











